# CI workflow for Nix flake maintenance

name: CI

on:
  # 毎週土曜 4:00 UTC
  schedule:
    - cron: "0 4 * * 6"

  # 手動実行
  workflow_dispatch:

permissions:
  contents: write

env:
  LANG: "en_US.UTF-8"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # リポジトリを checkout
      - uses: actions/checkout@v4

      # git の bot 設定（commit 用）
      - name: Configure git
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - uses: nixbuild/nix-quick-install-action@v30
        with:
         nix_conf: |
          keep-env-derivations = true
          keep-outputs = true

      # GitHub Actions キャッシュで /nix/store を再利用
      - name: Cache Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # OS + nix 式 + flake.lock が完全一致したらヒット
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}

          # 完全一致が無ければ、同じ OS の最新キャッシュを使う
          restore-prefixes-first-match: nix-${{ runner.os }}-

      # flake.lock を更新（変更があれば commit）
      - name: Update Nix flake
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          nix flake update --commit-lock-file

      # nvfetcher 実行（ソース更新 & commit）
      - name: Update nvfetcher
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          nix run nixpkgs#nvfetcher -- --commit-changes

      # flake check
      - name: Run checks
        run: nix flake check

      # 変更があれば push
      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git push
